<h1>Profile</h1>
<div id="page_wrapper">
<%= form_for([@user, @profile]) do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.file_field :avatar %>
  </p>

  <div class="actions"><%= f.submit "Update profile", class: "button" %></div>
<% end %>

