<div id="page_wrapper">
<h1>Log in</h1>
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <div class="actions">
    <%= submit_tag "Exit", :class => "button" %>
    <p>New user? <%= link_to "Register now!", new_user_path, class: "label label-primary" %></p>
  </div>
<% end %>