<h3>Users list</h3>
<table class="table table-striped">
  <tr>
    <td>№</td>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th>Status</th>
  </tr>
  <tbody>
  <% @users.each  do |user| %>
    <tr id = <%= "user_#{user.id}" %> >
      <td><%=user.id%></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Edit', edit_user_path(user), class: "label label-primary" %></td>
      <td><%= link_to 'Log in', login_with_session_path(user.id), class: "label label-info" %></td>
      <% if user.admin %>
        <td><%= link_to 'Admin', change_permission_user_path(user), class: "label label-success"%></td>
      <% else %>
        <td><%= link_to 'User', change_permission_user_path(user), class: "label label-warning" %></td>
      <% end %>
      <% unless current_user.email == user.email %>
        <td><%= link_to 'Delete', user, class: "label label-danger", method: :delete, remote: true %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
