<div class="navbar navbar-default">
  <div class="container" class="col-lg-6">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div> 
    <div class="collapse navbar-collapse" id="menu" >
      <ul class="nav navbar-nav" >
        <% if current_user.try(:admin?) %>
          <li><%= link_to "User list", users_path, method: "get" %></li>
        <% end %>
        <% if current_user %>
          <li ><%= link_to "New post", new_post_path, method: "get" %></li>
          <li><%= link_to "List of posts", posts_path, method: "get" %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <a class="navbar-brand" href="#"><%= current_user[:email] %></a>
          <li><%= link_to "Profile", edit_user_profile_path(current_user, current_user.profile) %></li>
          <li><%= link_to "Exit", sessions_path , method: :delete%></li>
        <% else %>
          <li><%= link_to "auth/vkontakte" do%>
            <i class = "fa fa-vk fa-2x"></i>
            <i class="glyphicon glyphicon-btc"></i>
          <% end %>
          </li>
          <li><%= link_to "Registration", new_user_path, method: "get" %></li>
          <li><%= link_to "Log in", new_session_path, method: "get" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>