<p id="notice"><%= notice %></p>
<h1>List of posts</h1>
<table class="table table-striped">
  <% @posts.each do |post| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="list">
        <dt>Email</dt>
        <dt>Title</dt>
        <dt>Desciption</dt>
      </td>
      <td class="list_description">
        <dt><%= post.user.email %></dt>
        <dt><%= post.title %></dt>
        <dt><%= post.desciption %></dt>
      </td>
      <td><%= link_to favourite_post_path(post), id: "post_#{post.id}", class: favourite_post(post), remote: true do %>
        <i class="glyphicon glyphicon-heart"></i>
        <% end %>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', post, class: "label label-info" %><br/>
        <% if current_user == post.user %>
          <%= link_to 'Edit', edit_post_path(post), class: "label label-primary" %> |
          <%= link_to 'Delete', post, class: "label label-warning", method: :delete,data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
