<p id="notice"><%= notice %></p>
<form class="form-horizontal">
  <p>
    <%= @post.page_views %>
  </p>
  <div class="field">
    <%= label_tag :title %>
    <%= @post.title %>
  </div>
  <div class="field">
    <%= label_tag :desciption %>
    <%= @post.desciption %>
  </div>
  <p>
    <%= image_tag @post.image.url %>
  </p>
</div>
<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post), class: "label label-primary" %> |
<% end %>
