<!DOCTYPE html>
<html>
  <head>
    <meta charset=”utf-8”>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'shared/header' %>
  <div class="container">
    <%= yield %>
  </div>
</html>
